[submodule "vim-dir/bundle/nerdtree"]
	path = vim-dir/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim-dir/bundle/rails"]
	path = vim-dir/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim-dir/bundle/sessionman"]
	path = vim-dir/bundle/sessionman
	url = git://github.com/vim-scripts/sessionman.vim.git
[submodule "vim-dir/bundle/minibufexpl"]
	path = vim-dir/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vim-dir/bundle/endwise"]
	path = vim-dir/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim-dir/bundle/surround"]
	path = vim-dir/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-dir/bundle/indent-object"]
	path = vim-dir/bundle/indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim-dir/bundle/matchit"]
	path = vim-dir/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim-dir/bundle/autotag"]
	path = vim-dir/bundle/autotag
	url = git://github.com/vim-scripts/AutoTag.git
[submodule "vim-dir/bundle/taglist"]
	path = vim-dir/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim-dir/bundle/textile"]
	path = vim-dir/bundle/textile
	url = git://github.com/timcharper/textile.vim.git
[submodule "vim-dir/bundle/gundo"]
	path = vim-dir/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim-dir/bundle/delimitMate"]
	path = vim-dir/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim-dir/bundle/unimpaired"]
	path = vim-dir/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim-dir/bundle/fugitive"]
	path = vim-dir/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-dir/bundle/command-t"]
	path = vim-dir/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim-dir/bundle/bufexplorer"]
	path = vim-dir/bundle/bufexplorer
	url = git://github.com/corntrace/bufexplorer.git
[submodule "vim-dir/bundle/visual-star-search"]
	path = vim-dir/bundle/visual-star-search
	url = git://github.com/nelstrom/vim-visual-star-search.git
[submodule "vim-dir/bundle/vim-repeat"]
	path = vim-dir/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim-dir/bundle/vim-abolish"]
	path = vim-dir/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim-dir/bundle/splitjoin"]
	path = vim-dir/bundle/splitjoin
	url = git://github.com/AndrewRadev/splitjoin.vim
[submodule "vim-dir/bundle/vim-exchange"]
	path = vim-dir/bundle/vim-exchange
	url = git://github.com/tommcdo/vim-exchange.git
[submodule "vim-dir/bundle/ultisnips"]
	path = vim-dir/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips
[submodule "vim-dir/bundle/easymotion"]
	path = vim-dir/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion
[submodule "vim-dir/bundle/YouCompleteMe"]
	path = vim-dir/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe
[submodule "vim-dir/bundle/vim-coffee-script"]
	path = vim-dir/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule "vim-dir/bundle/syntastic"]
	path = vim-dir/bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "vim-dir/bundle/vim-textobj-rubyblock"]
	path = vim-dir/bundle/vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock
[submodule "vim-dir/bundle/vim-textobj-user"]
	path = vim-dir/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user
[submodule "vim-dir/bundle/tcomment"]
	path = vim-dir/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim
[submodule "vim-dir/bundle/vim-textobj-comment"]
	path = vim-dir/bundle/vim-textobj-comment
	url = git://github.com/glts/vim-textobj-comment
[submodule "vim-dir/bundle/vim-easy-align"]
	path = vim-dir/bundle/vim-easy-align
	url = git://github.com/junegunn/vim-easy-align
